mixin chatDialogInput
    .chat__dialog-input
        .chat__dialog-input_smile-btn
            div &#128578;
        input(placeholder='Введите текст' name='message')
        .chat__dialog-input_actions
            span &#128247;
            span &#x1F3A4;
            span &#9992;