mixin chatSidebarHeader
    .chat__sidebar-header
        div
            span &#128100;
            +link('#', 'Профиль', 'chat__sidebar-header')
        div &#128221;
    //- .header-list
    //-     a(href="#") Профиль