-
    var data = [
        {id:1, avatar:'../../../img/avatar.png', name:'Павел', mnemo:'Вы', dsc:'test', day:'ПН'},
    ]

.chat__dialog
    +chatDialogHeader
    .chat__dialog-messages
        each val in [1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15]
            h1 test
    +chatDialogInput
   

    