-
    var data = [
        {id:1, avatar:'../../../img/avatar.png', name:'Павел', mnemo:'Вы', dsc:'test', day:'ПН'},
    ]


.chat__dialog
    +chatDialogHeader
    .chat__dialog-messages
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
        h1 teset
    +chatDialogInput
   

    