mixin chatDialogHeader
    .chat__dialog-header
        div
        .chat__dialog-header-center
            b.chat__dialog-header-username Павел
            .chat__dialog-header-status
                span.status.status--online Онлайн
        .chat__dialog-header-settings
            img(src='../../../img/spred-settings.svg')           