extends ../../layout/main/layoutMain

block scripts
    link(rel='stylesheet', href='../../../index.css')
    script(src="../../../index.js" type='module')

block content
    .profile 
        .profile__container 
            .profile__container-avatar 
                img(src='../../../img/avatar.png')
            .profile__container-name
                h4 Павел
            form.profile__container-form
                .profile__container-form_input
                    div Старый пароль
                    +input('pochta@yandex.ru', 'password', 'oldPassword', 'profile')
                .profile__container-form_input
                    div Новый пароль
                    +input('ivanivanov', 'password', 'newPassword', 'profile')
                .profile__container-form_input
                    div Повторите пароль
                    +input('Иван', 'password', 'password', 'profile')
                +button('submit', 'Авторизоваться', 'profile')
                   
                
                
