extends ../../layout/main/layoutMain

block content
    .profile 
        .profile__container 
            .profile__container-avatar 
                img(src='../../../img/avatar.png')
            .profile__container-name
                h4 Павел
            form.profile__container-form
                each val, index in data 
                    .profile__container-form_input
                        div= val.value
                        | !{inputs[index]}
                    span(id=`${val.id}-error-validate` class='error-validate') ошибка
                .profile__container-form_button-save
                    | !{button}