.search-chat {
    display: flex;
    justify-content: center;
    height: 32px;
    padding-top:23px;
    padding-bottom: 14px;
    border-bottom: 1px solid #EAEAEA;
    & input {
        width:100%;
        border: none;
        background-color: #EFEFEF;
        border-radius: 5px;
    }
    [placeholder] {
        text-align: center;
    }
}