{{!-- extends ./layout/main/layoutMain --}}

{{!-- block content --}}
<main>
    <ul>
        <li>
            <a href="./pages/home/home.pug" class="nav-link">Главная</a>
        </li>
        <li>
            <a href="./pages/register/register.hbs" class="nav-link">Регистрация</a>
        </li>
        <li>
            <a href="./pages/login/login.pug" class="nav-link">Вход</a>
        </li>
        <li>
            <a href="./pages/profile/profile.pug" class="nav-link">Профиль</a>
        </li>
        <li>
            <a href="./pages/error404/404.pug" class="nav-link">Ошибка 404</a>
        </li>
        <li>
            <a href="./pages/error500/500.pug" class="nav-link">Ошибка 500</a>
        </li>
         <li>
            <a href="./pages/modalDefault/modalDefault.pug" class="nav-link">Модальное окно</a>
        </li>
         <li>
            <a href="./pages/updateProfile/updateProfile.pug" class="nav-link">Обновление пользователя</a>
        </li>
    </ul>
</main>