extends ./layout/main/layoutMain
block scripts
    link(rel='stylesheet', href='../index.css')
    script(src="../index.js" type='module')

block content
    .main
        ul.nav
            li
                a(href="./pages/home/home.pug").nav-link Главная
            li
                a(href="./pages/register/register.pug").nav-link Регистрация
            li
                a(href="./pages/login/login.pug").nav-link Вход
            li
                a(href="./pages/profile/profile.pug").nav-link Профиль
            li
                a(href="./pages/error404/404.pug").nav-link Ошибка 404
            li
                a(href="./pages/error500/500.pug").nav-link Ошибка 500
            li
                a(href="./pages/modalDefault/modalDefault.pug").nav-link Модальное окно
            li
                a(href="./pages/updateProfile/updateProfile.pug").nav-link Обновление пользователя