mixin chatDialogInput
    .chat__dialog-input
        .chat__dialog-input_file-btn
            img(src='../../../img/paper-clip.svg')
        //- input(placeholder='Введите сообщение...' name='message')
        //- +input('Введите сообщение...', type="text", name='message')
        | !{input}
        //- | #{input}
        .chat__dialog-input_actions
            img(src='../../../img/send-message.svg')