extends ../../layout/main/layoutMain

block content
    .login
        .login__content
            h2 #{title}
            form.login__form(action="#")
                each val, index in data
                    | !{inputs[index]}
                    span(id=`${val.id}-error-validate` class='error-validate') ошибка
                | !{button}
            +link('/pages/register/register.pug', 'Нет аккаунта ?', 'login')