<div class="register">
    <div class="register__content">
        {{{forms}}}
    </div>
</div>

{{!-- extends ../../layout/main/layoutMain

block content
    .register
        .register__content
            h2 #{title}
            | !{forms}
            +link('/pages/login/login.pug', 'Войти', 'register') --}}