extends ../../layout/main/layoutMain

block content
    .register
        .register__content
            h2 #{title}
            form.register__form(action="#")
                each val, index in data
                    | !{inputs[index]}
                    span(id=`${val.id}-error-validate` class='error-validate') ошибка
                | !{button}
            +link('/pages/login/login.pug', 'Войти', 'register')