mixin errors (error='404', text='Не туда попали', href='#', textLink='Назад к чатам')
    .error
        .error__content 
            h1= error
            h3= text
            +link(`${href}`, `${textLink}`, 'error404')