extends ../../layout/main/layoutMain

block scripts
    link(rel='stylesheet', href='../../../index.css')
    script(src="../../../index.js" type='module')

block content
    .home
        .chat
            include ../../modules/chat/chatSidebarList/chatSidebarList
            include ../../modules/chat/chatDialogList/chatDialogList