extends ../../layout/main/layoutMain

block content
    .home
        .chat
            include ../../modules/chat/chatSidebarList/chatSidebarList
            include ../../modules/chat/chatDialogList/chatDialogList