extends ../../layout/main/layoutMain

block scripts
    link(rel='stylesheet', href='../../../index.css')
    script(src="../../../index.js" type='module')

block content
    +errors('404', text='Не туда попали', '../home/home', 'Назад к чатам')