mixin chatDialogHeader
    .chat__dialog-header
        div
        .chat__dialog-header-center
            b.chat__dialog-header-username Павел
            .chat__dialog-header-status
                span.status.status--online Онлайн
        div ...            
    //- .chat-list__header
    //-     .chat-list__header_content
    //-         .chat-list__header_content_avatar
    //-             img(src=`${data.avatar}`)
    //-         h4= data.name
    //-     .chat-list__settings
    //-         h4 ...